<div class="timeline">
    
  <div class="tltitle"> Time Line</div>
 
 <ul class="dates"> 
  
   <li *ngFor="let item of ids"> 
     <a href="home#{{item.id}}">{{item.id}}</a>
     </li>

 </ul>
 <ul class="issues">
   
<li *ngFor="let item of ids" id="{{item.id}}" >
     <img src="{{item.imageSrc}}" />
     <h1>{{item.id}}</h1>
     <p>{{item.summary}}</p>
   </li>
 
 </ul>
 <div id="grad_top"></div>
 <div id="grad_bottom"></div>

</div>